*{
    font-family: 'Montserrat', sans-serif;
}
#title{
    background-color: #ff4c68 !important;
}
.navbar-brand{
    font-weight: normal;
    font-size: 36px !important;
}

.nav-item{
    font-size: 18px;
    padding: 0 18px !important;
}
.navbar{
    padding-bottom: 4.5rem !important;
}
.h1rem{
    /* font-family: 'Montserrat-Black'; */
    font-size: 3rem;
    line-height: 1.5;
    color: whitesmoke;
    font-weight: bold;
}
.container-fluid{
    padding: 3% 15% !important;
}