body{
    background-color: aliceblue;
}
#noC{
    font-weight: lighter;
}
hr{
    margin: 0;
    /* border: none; */
}
.gasgas{
    border-color: sienna;
    width: 20%;
}
.bckgr{
    font-style: oblique;
}
.container{
    display: flex;
    justify-content: space-evenly;
}

.header{
    display: flex;
    justify-content: space-evenly;
}
.contall{
    padding: 50;
    display: flex;
    justify-content: space-around;
}
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    margin-top: 10px;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }