*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    /* font-family: 'Merriweather', serif; */
    font-weight: normal;
}
hr{
    border: 1px solid black;
}
body{
    background-color: #B9D7EA;
    /* background-color: #B9E0FF; */
    text-align: center;
    font-family: monospace;
}
.top-container{
    position: relative;
    padding-top: 60px;
}
.cats{
    text-decoration: underline;
}
.bcloud{
    position: absolute;
    margin: 0 0 0 -50px;
    width: 7%;
    /* left: 1px; */
}
.tcloud{
    position: absolute;
    /* margin: -100px -15px 0 100px; */
    margin: -20px 0 0 150px;
    width: 7%;
}
.mtn{
    padding-top: 0;
    position: relative;
    width: 25%;
}
h1{
    font-size: 60px;
    color: #11999E;
}
.h1name{
    font-family: 'Dancing Script', cursive;
    padding: 10px;
    /* font-size: 12px; */
    /* font-size: 57px; */
    /* margin-bottom: -30px; */
}

.mid_container{
    position: relative;
    text-align: center;
}
.filler-bar{
    padding-bottom: 20px;
    position: relative;
    text-align: left;
    width: 50%;
    margin: 25px auto 70px auto;
}
.lp{
    width: 15%;
    margin-top: -22px;
    padding: 15px 20px 30px 0px;
    float: left;

}
.cd{
    width: 15%;
    margin: 10px;
    padding: 15px 0px 30px 15px;
    margin: 0;
    float: right;
}
.me{
    width: 15%;
    margin: 10px;
    padding: 15px 0 30px 0px;
    margin: 0;
    text-align: left;
}
.contact{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    margin: 0px;
}
.contact, a{
    text-decoration: none;
    color: #11999E;
}
.st{
    color: #11999E;
    font-family: monospace;
}
.top-container div{
    margin: 100px auto 0px;
}
.footer{
    margin: 0;
}
.filler-bar p{
    line-height: 1.5;
}