*{
    margin: 0;
    padding: 0;
}
.header-top{
    /* display: flex; */
    text-align: center;
    width: 100%;
    background-color: black;
}
.huge-photo{
    width: 59%;
    margin-left: 90px;
}
.ru2018{
    position: absolute;
    float: left;
    width: 11%;
    margin: 45px -100px;
}

/* Body */

.absolute-paragraph{
    position: absolute;
    width: 40%;
    background-color: black;
    color: white;
    padding: 25px;
    margin: -150px 200px;
}
.absolute-paragraph p{
    float: right;
    /* margin-top: -10px; */
    margin: 30px 60px;
}
.glogo{
    width: 8%;
    float: right;
    /* display: absolute; */
    /* margin-right: -150px; */
    /* padding: 5px; */
    margin: 10px -230px;

}

/*  */

.twomid{
    display: flex;
    flex-direction: column;
}
.filler-bar{
    width: 60%;
    margin: 300px auto;
    display: flex;
}
.footballer{
    width: 50%;
    /* padding: 25px; */
    float: right;
}